@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: "Press Start 2P";
}
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}
#main {
    grid-area: main;
}
#new-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    border-top: 1px solid #3f3f3f;
}
#messages-list {
    padding: 5px 0 0 5px;
}
#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 1px solid #3f3f3f;
    height: 100%;
}


  
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  button:disabled {
    opacity: 0.5;
  }
  
  
  html {
    text-align: center;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
  }
  
  #board div {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    box-sizing: border-box;
    float: left;
    width: 10px;
    height: 10px;
    margin: 0px;
    padding:0px;
  }    
  
  #board {
    width: 1006px;
    margin: 0px;
    padding: 0px;
    height: 504px;
    border-top: 2px solid darkolivegreen;
    border-bottom: 2px solid darkolivegreen;
    border-left: 2px solid darkolivegreen;
    border-right: 2px solid darkolivegreen;
  }
  
  .emptycell {
    background-color: #eeeeee;
  }
  
  .snake1 {
    background-color: green;
  }
  .snake2 {
    background-color: blue;
  }
  .apple {
    background-color: red;
  }
